          body{
            margin:0;
            padding:0;
            background-color:#dedede;
            font-family:"微软雅黑";
            font-size:14px;
          }
          ul{
            list-style-type:none;
          }
     /*navigation bars*/
       nav {
        background-color: #333;
        width:100%;
        height:60px;
        display: inline-block;
      }
       .logo{
            float: left;
            height: 70px;
            margin:6px auto 6px 40px;
          }
        ul.top{
          list-style-type:none;
          margin:20px ;
          padding:0;
          overflow:hidden;
          float:right;
          }
        ul.top>li{
          float:left;
          }
        ul a:link,ul a:visited
          {
          display:block;
          width:100px;
          color:#fff;
          text-align:center;
          text-decoration:none;
          }
        ul a:hover,ul a:active
          {
          color:#dedede;
          }
     .main_content{
          width: 95%; 
          margin: 0 auto}
     footer{
        background-color:#333;
        height: 70px;
        color: #fff;
        line-height: 70px;
        text-align: center;
       }
       /*文章区*/
        article{
          padding: 20px;
          margin-top: 20px; 
          background-color: #fff; 
          box-shadow: 2px 2px 2px #aaa;
         }
        article h1{font-size: 1.7em
         }
        article h2{font-size: 1.1em; 
                   color: #777
         }
        article .author, article .time{
                   color: #999
         }
        article p{text-indent: 2em;
                  font-size: 16px;
                  font-family:"黑体"；
                  color:#111;
         }
         ul.none{
          font-size:16px;
         }
        /*图片列表*/
        .img_list li{
            border: 1px solid #ddd;
            display: inline-block;
            /*既具有block的宽度高度特性又具有inline的同行特性*/
            margin: 10px 900px 10px 50px;
            padding: 5px 15px 15px;
          }
        .img_list p {
            margin: 5px auto;
          }
          /*上下距离是5px 左右距离自动 也就是说 是居中的意思*/
          .img_list img {
            width: 140px;
            height: 120px;
          }
        /*表格*/
        table{border: 0;
         width: 100%;
         border-collapse: collapse;
       }
       /*border-collapse属性设置是否将表格边框折叠为单一边框*/
        td, th{border: 0; 
           padding: 5px;
           border: 1px #ccc solid; 
         }
        th{background: #333;
         color: #fff;
          text-align: left}
        tr:last-child{
          background: #ddd; 
          font-weight: bold}
        /*侧边栏*/
        aside{
          width: 92%;
          
          margin:0 auto;
          margin-top: 20px;
          background-color: #fff; 
          box-shadow: 2px 2px 2px #aaa;
          padding: 20px;
          }
        h3{height: 22px;
          border-left: 3px solid #dedede;
          padding-left: 8px;
          vertical-align: center;}
        form{
          display:table;
          padding-left:220px;

        }
        .table_row{display: table-row;}
        .table_row p{display: table-cell;
                     vertical-align: top;
                     padding: 3px;
        }
         .table_row p:first-child{text-align: right;
        }
        .gray{
          color:#888;
        }
        .input_submit{
          margin-top: 10px;
          width:1200px;
          height: 46px;
          color: white;
          background-color: blue;
          border-radius: 10px;
          text-align: center;
          font-size: 16px;

        }
        textarea{
          width: 800px;
          height: 100px;
         vertical-align:top;
        }
