body,html,#wrap,#items,#circle_lefttop,#circle_rightbottom{
	margin: 0px;
	padding: 0px;
}
body,html{
	width: 100%;
	height: 100%;
}
#wrap{
	width: 100%;
	height:100%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
    -webkit-align-items:center;
}
body>#wrap{height:auto;min-height:100%;}
#items{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	overflow: hidden;
	position: relative;
}
#circle_lefttop,#circle_rightbottom{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #fc0;
}
#circle_lefttop{
	margin-top: -50px;
	margin-left: -50px;
}
#circle_rightbottom{
	margin-top: 150px;
	margin-left:350px;
}
